a {
    color: white;
}

a:hover {
    color: white;
}

/* HOME PAGE */
.navbar {
    background-color: #222222;
}

.navbar-title {
    font-family: "Amatic SC", Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.footer-icone {
    width: 30px;
}

.current-shows {
    background-color: #600a27;
    color: #f9ccd9;
}

.history {
    background-color: #022962;
    color: #85b4fc;
}

.history-text {
    background-color: #04368f;
}

.creative-process {
    background-color: #02554f;
    color: #91fbd6;
}

.process-text {
    background-color: #047368;
}

.home-card {
    background-color: #851033;
}

/* PRICES PAGE */
.prices-link {
    font-style: italic;
}

/* CONTACT PAGE */
.contact-card {
    background-color: #ffb355;
}