{% extends 'base.html.twig' %}

{% block title %}New Artist{% endblock %}

{% block body %}
    <div class="container-fluid bg-dark">
        <div class="mx-auto mt-5 col-sm-12 col-md-8">
            <div class="card bg-dark">
                <div class="contact-card card mb-5">
                    <div class="container px-4">
                        <h3 class="mt-3">Create new Artist</h3>
                        {{ include('artist/_form.html.twig') }}
                        <a href="{{ path('artist_index') }}" class="mt-3">Back to all artists</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
