<footer>
    <div class="bg-dark mt-5">
        <div class="container">
            <div class="row pt-4 pb-3">
                <div class="col">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item"><a href="#"><img class="footer-icone" src="https://i.postimg.cc/wBfZ9tVf/64x64facebook.png" alt="Facebook"/></a></li>
                        <li class="list-inline-item"><a href="#"><img class="footer-icone" src="https://i.postimg.cc/d1hX3qNq/64x64twitter.png" alt="Twitter"/></a></li>
                        <li class="list-inline-item"><a href="#"><img class="footer-icone" src="https://i.postimg.cc/1tbdNLbD/64x64instagram.png" alt="Instagram"/></a></li>
                        <li class="list-inline-item"><a href="#"><img class="footer-icone" src="https://i.postimg.cc/ZqKXkPrv/64x64youtube.png" alt="YouTube"/></a></li>
                        <li class="list-inline-item">&middot;</li>
                        <li class="list-inline-item text-warning">Copyright © Wild Series. All rights reserved. 2020</li>
                        <li class="list-inline-item">&middot;</li>
                        <li class="list-inline-item text-warning">Privacy policy</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>