{% extends 'base.html.twig' %}

{% block body %}
    <div class="current-shows jumbotron jumbotron-fluid py-3 mb-0">
        <div class="container">
            <h3 class="text-center display-5">Our shows</h3>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-4 px-0">
                    <div class="home-card card h-100">
                        <div class="card-body mx-0">
                            <h4 class="card-title text-center">Laugh</h4>
                            <p class="card-text">As an adult, come and discover our irresistible clowns, between practical jokes and pranks let yourself be carried away by their joy and fall back into childhood.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4 px-0">
                    <div class="home-card card h-100">
                        <div class="card-body">
                            <h4 class="card-title text-center">Dream</h4>
                            <p class="card-text">Let yourself be carried away in a world where the real and the imaginary are one, in the company of our talented magicians, discover a wonderful world limited only by your imagination.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4 px-0">
                    <div class="home-card card h-100">
                        <div class="card-body">
                            <h4 class="card-title text-center">Marvel at</h4>
                            <p class="card-text">Tame the untameable in the company of our tamers, between roar and razor-sharp claws, watch these fierce felines turn into sweet kittens.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                    <div class="card-body home-card">
                        <h4 class="card-title text-center">Our current shows</h4>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item home-card text-center">Cras justo odio</li>
                            <li class="list-group-item home-card text-center">Dapibus ac facilisis in</li>
                            <li class="list-group-item home-card text-center">Vestibulum at eros</li>
                        </ul>
                        <p class="text-center"><a href="{{ path('show_index') }}">See all shows</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="history jumbotron jumbotron-fluid py-3 mb-0">
        <div class="container">
            <h3 class="text-center display-5">History</h3>
        </div>
        <div class="history-text container my-3 py-3">
            <p class="">Discover how a troupe of street performers became a household name throughout the world. International Wild Circus has redefined how the world views the circus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue. Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo in pede. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam nibh. Mauris ac mauris sed pede pellentesque fermentum. Maecenas adipiscing ante non diam sodales hendrerit.</p>
        </div>
    </div>

    <div class="creative-process jumbotron jumbotron-fluid py-3 mb-0">
        <div class="container">
            <h3 class="text-center display-5">Creative Process</h3>
        </div>
        <div class="process-text container my-3 py-3">
            <p class="">Every International Wild Circus show is born from the minds behind our incredibly talented creative teams. Discover how our team of artists, crafspeople and circus performers bring new shows to life.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue. Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo in pede. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam nibh. Mauris ac mauris sed pede pellentesque fermentum. Maecenas adipiscing ante non diam sodales hendrerit.</p>
        </div>
    </div>

{% endblock %}